<h1><%= @the_movie.title %></h1>
<p><strong>Description:</strong> <%= @the_movie.description %></p>
<p><strong>Year:</strong> <%= @the_movie.year %></p>
<p><strong>Duration:</strong> <%= @the_movie.duration %> minutes</p>
<p><strong>Directed by:</strong> <%= @the_movie.director.name %></p>
